name: macOS Build

on:
  push:
    branches:
      - dev
      - main
    paths-ignore:
      - '*.md'
      - 'doc/**'
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - '*.md'
      - 'doc/**'
  release:
    types: [published]
    paths-ignore:
      - '*.md'
      - 'doc/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-26

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Xcode 26.2
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.2'

      - name: Install SDL2
        run: brew install sdl2

      - name: Build QUASI88 macOS app
        run: |
          cmake -S. -Bbuild -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCPACK=ON
          cmake --build build --config Release
          cpack --config build/CPackConfig.cmake -G DragNDrop -B build
          dmg_file=$(ls build/*.dmg | head -n 1)
          mv "$dmg_file" build/QUASI88_macOS.dmg

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: QUASI88_macOS.dmg
          path: build/QUASI88_macOS.dmg

      - name: Update Release
        if: ${{ github.event_name == 'release' && !env.ACT }}
        uses: svenstaro/upload-release-action@v2
        with:
          file: build/QUASI88_macOS.dmg
          overwrite: true
